In [104]:
# Import BeautifulSoup
# Import Splinter and set the chromedriver path
from bs4 import BeautifulSoup as bs
import pandas as pd
import pymongo
import tweepy
import requests
from splinter import Browser
import time

In [105]:
#Function to call the chrome browser
def browser_func():
    executable_path = {"executable_path": "chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

In [107]:
# Visit the following URL for article and title
url = "https://mars.nasa.gov/news/" 
# calling the function
browser=browser_func()
#Visit method to navigate through pages
browser.visit(url)
# the html attribute to get the html content of the visited page
html = browser.html
# document through Beautiful Soup gives us a BeautifulSoup object, which represents the document as a nested data structure
soup = bs(html, 'html.parser')
# navigate to find the title in content_title class and article in article teaser body
news_title=soup.find('div',class_='content_title').text
news_p=soup.find('div',class_="article_teaser_body").text
#Print the results
print(f'News Title: {news_title}')
print(f'News Paragraph: {news_p}')

News Title: NASA Launches a New Podcast to Mars
News Paragraph: NASA's new eight-episode series 'On a Mission' follows the InSight spacecraft on its journey to Mars and details the extraordinary challenges of landing on the Red Planet.

In [108]:
# Visit the following URL for image url

url_image="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser=browser_func()
browser.visit(url_image)

In [109]:
#timer to navigate through pages
time.sleep(5)
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(5)
browser.click_link_by_partial_text('more info')
time.sleep(5)

In [110]:
image_html = browser.html
image_soup = bs(image_html, 'html.parser')
temp_img_url = image_soup.find('img', class_='main_image')
half_img_url = temp_img_url.get('src')
#capturing the image url 
featured_image_url = "https://www.jpl.nasa.gov" +half_img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17767_hires.jpg

In [111]:
#scrape the latest Mars weather tweet from the page
Twitter_url="https://twitter.com/marswxreport?lang=en"
browser=browser_func()
browser.visit(Twitter_url)
Twitter_html= browser.html
Twitter_soup = bs(Twitter_html, 'html.parser')
mars_weather=Twitter_soup.find('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

Sol 2213 (2018-10-27), high -12C/10F, low -70C/-93F, pressure at 8.74 hPa, daylight 06:11-18:29

In [112]:
#Visit the Mars Facts webpage 
mars_facts_url="https://space-facts.com/mars/"
facts_table= pd.read_html(mars_facts_url)

In [113]:
#use Pandas to scrape the table
df=facts_table[0]
df.columns=["Description","Value"]
df.set_index('Description', inplace=True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 째C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [114]:
#Pandas to convert the data to a HTML table string
html_table = df.to_html()

html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 째C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [115]:
html_table.replace("\n","")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 째C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [119]:
#the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser=browser_func()
browser.visit(hemispheres_url)
html = browser.html
soup = bs(html, "html.parser")
hemisphere_image_urls = []

products = soup.find("div", class_ = "result-list" )
hemispheres = products.find_all("div", class_="item")

for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    html = browser.html
    soup=bs(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    hemisphere_image_urls.append({"title": title, "img_url": image_url})

In [120]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [118]:
!jupyter nbconvert --to script scrape_mars.ipynb

[NbConvertApp] Converting notebook scrape_mars.ipynb to script
[NbConvertApp] Writing 3718 bytes to scrape_mars.py